In [48]:
#set depdendies
import pandas as pd
import json
import requests
from pprint import pprint

In [49]:
url = "https://api.datausa.io/api/?sort=desc&show=geo&required=grads_total&sumlevel=state&cip=26&year=all"

In [50]:
# Make an API call to the API and convert response object to JSON
json = requests.get(url).json()

In [51]:
json

{'data': [[2013, '04000US01', '26', 1786],
  [2013, '04000US02', '26', 138],
  [2013, '04000US04', '26', 2316],
  [2013, '04000US05', '26', 754],
  [2013, '04000US06', '26', 16046],
  [2013, '04000US08', '26', 2477],
  [2013, '04000US09', '26', 1794],
  [2013, '04000US10', '26', 319],
  [2013, '04000US11', '26', 967],
  [2013, '04000US12', '26', 6718],
  [2013, '04000US13', '26', 3520],
  [2013, '04000US15', '26', 421],
  [2013, '04000US16', '26', 738],
  [2013, '04000US17', '26', 4868],
  [2013, '04000US18', '26', 2337],
  [2013, '04000US19', '26', 1537],
  [2013, '04000US20', '26', 987],
  [2013, '04000US21', '26', 1268],
  [2013, '04000US22', '26', 1816],
  [2013, '04000US23', '26', 620],
  [2013, '04000US24', '26', 3202],
  [2013, '04000US25', '26', 5027],
  [2013, '04000US26', '26', 4530],
  [2013, '04000US27', '26', 2812],
  [2013, '04000US28', '26', 1329],
  [2013, '04000US29', '26', 2389],
  [2013, '04000US30', '26', 403],
  [2013, '04000US31', '26', 875],
  [2013, '04000US32', '26', 543],
  [2013, '04000US33', '26', 557],
  [2013, '04000US34', '26', 3229],
  [2013, '04000US35', '26', 570],
  [2013, '04000US36', '26', 9308],
  [2013, '04000US37', '26', 3927],
  [2013, '04000US38', '26', 359],
  [2013, '04000US39', '26', 4361],
  [2013, '04000US40', '26', 1245],
  [2013, '04000US41', '26', 1476],
  [2013, '04000US42', '26', 6574],
  [2013, '04000US44', '26', 671],
  [2013, '04000US45', '26', 2261],
  [2013, '04000US46', '26', 372],
  [2013, '04000US47', '26', 1837],
  [2013, '04000US48', '26', 9358],
  [2013, '04000US49', '26', 1477],
  [2013, '04000US50', '26', 437],
  [2013, '04000US51', '26', 3549],
  [2013, '04000US53', '26', 2648],
  [2013, '04000US54', '26', 625],
  [2013, '04000US55', '26', 3134],
  [2013, '04000US56', '26', 209],
  [2013, '04000US66', '26', 10],
  [2013, '04000US72', '26', 1572],
  [2013, '04000US78', '26', 20],
  [2014, '04000US01', '26', 1834],
  [2014, '04000US02', '26', 134],
  [2014, '04000US04', '26', 2375],
  [2014, '04000US05', '26', 892],
  [2014, '04000US06', '26', 16649],
  [2014, '04000US08', '26', 2761],
  [2014, '04000US09', '26', 1866],
  [2014, '04000US10', '26', 335],
  [2014, '04000US11', '26', 1001],
  [2014, '04000US12', '26', 7025],
  [2014, '04000US13', '26', 3881],
  [2014, '04000US15', '26', 441],
  [2014, '04000US16', '26', 802],
  [2014, '04000US17', '26', 4812],
  [2014, '04000US18', '26', 2377],
  [2014, '04000US19', '26', 1599],
  [2014, '04000US20', '26', 989],
  [2014, '04000US21', '26', 1258],
  [2014, '04000US22', '26', 1792],
  [2014, '04000US23', '26', 672],
  [2014, '04000US24', '26', 3212],
  [2014, '04000US25', '26', 5575],
  [2014, '04000US26', '26', 4673],
  [2014, '04000US27', '26', 2948],
  [2014, '04000US28', '26', 1410],
  [2014, '04000US29', '26', 2502],
  [2014, '04000US30', '26', 452],
  [2014, '04000US31', '26', 966],
  [2014, '04000US32', '26', 623],
  [2014, '04000US33', '26', 615],
  [2014, '04000US34', '26', 3176],
  [2014, '04000US35', '26', 605],
  [2014, '04000US36', '26', 9344],
  [2014, '04000US37', '26', 4270],
  [2014, '04000US38', '26', 368],
  [2014, '04000US39', '26', 4794],
  [2014, '04000US40', '26', 1328],
  [2014, '04000US41', '26', 1614],
  [2014, '04000US42', '26', 6881],
  [2014, '04000US44', '26', 698],
  [2014, '04000US45', '26', 2338],
  [2014, '04000US46', '26', 374],
  [2014, '04000US47', '26', 1972],
  [2014, '04000US48', '26', 9392],
  [2014, '04000US49', '26', 1537],
  [2014, '04000US50', '26', 444],
  [2014, '04000US51', '26', 3723],
  [2014, '04000US53', '26', 2832],
  [2014, '04000US54', '26', 616],
  [2014, '04000US55', '26', 3262],
  [2014, '04000US56', '26', 256],
  [2014, '04000US66', '26', 14],
  [2014, '04000US72', '26', 1926],
  [2014, '04000US78', '26', 26],
  [2015, '04000US01', '26', 1847],
  [2015, '04000US02', '26', 149],
  [2015, '04000US04', '26', 2572],
  [2015, '04000US05', '26', 882],
  [2015, '04000US06', '26', 16972],
  [2015, '04000US08', '26', 2853],
  [2015, '04000US09', '26', 1952],
  [2015, '04000US10', '26', 347],
  [2015, '04000US11', '26', 1059],
  [2015, '04000US12', '26', 7688],
  [2015, '04000US13', '26', 3990],
  [2015, '04000US15', '26', 483],
  [2015, '04000US16', '26', 857],
  [2015, '04000US17', '26', 4771],
  [2015, '04000US18', '26', 2521],
  [2015, '04000US19', '26', 1739],
  [2015, '04000US20', '26', 1004],
  [2015, '04000US21', '26', 1290],
  [2015, '04000US22', '26', 1955],
  [2015, '04000US23', '26', 653],
  [2015, '04000US24', '26', 3379],
  [2015, '04000US25', '26', 5791],
  [2015, '04000US26', '26', 4723],
  [2015, '04000US27', '26', 3145],
  [2015, '04000US28', '26', 1403],
  [2015, '04000US29', '26', 2552],
  [2015, '04000US30', '26', 431],
  [2015, '04000US31', '26', 984],
  [2015, '04000US32', '26', 671],
  [2015, '04000US33', '26', 679],
  [2015, '04000US34', '26', 3414],
  [2015, '04000US35', '26', 591],
  [2015, '04000US36', '26', 10031],
  [2015, '04000US37', '26', 4477],
  [2015, '04000US38', '26', 385],
  [2015, '04000US39', '26', 4824],
  [2015, '04000US40', '26', 1377],
  [2015, '04000US41', '26', 1615],
  [2015, '04000US42', '26', 7128],
  [2015, '04000US44', '26', 771],
  [2015, '04000US45', '26', 2611],
  [2015, '04000US46', '26', 412],
  [2015, '04000US47', '26', 2112],
  [2015, '04000US48', '26', 10078],
  [2015, '04000US49', '26', 1588],
  [2015, '04000US50', '26', 478],
  [2015, '04000US51', '26', 3947],
  [2015, '04000US53', '26', 3085],
  [2015, '04000US54', '26', 596],
  [2015, '04000US55', '26', 3336],
  [2015, '04000US56', '26', 249],
  [2015, '04000US66', '26', 23],
  [2015, '04000US72', '26', 1972],
  [2015, '04000US78', '26', 23]],
 'headers': ['year', 'geo', 'cip', 'grads_total'],
 'logic': [{'dataset': 'NCES IPEDS',
   'link': 'http://nces.ed.gov/ipeds/',
   'org': 'Department of Education',
   'supported_levels': {'cip': ['2', '4', '6', 'all'],
    'geo': ['nation', 'state', 'county', 'place', 'msa', 'puma', 'all']},
   'table': 'ipeds.grads_ygc'},
  {'dataset': 'NCES IPEDS',
   'link': 'http://nces.ed.gov/ipeds/',
   'org': 'Department of Education',
   'supported_levels': {'cip': ['2', '4', '6', 'all'],
    'degree': ['all'],
    'geo': ['nation', 'state', 'county', 'place', 'msa', 'puma', 'all']},
   'table': 'ipeds.grads_ygcd'}],
 'source': {'dataset': 'NCES IPEDS',
  'link': 'http://nces.ed.gov/ipeds/',
  'org': 'Department of Education',
  'supported_levels': {'cip': ['2', '4', '6', 'all'],
   'geo': ['nation', 'state', 'county', 'place', 'msa', 'puma', 'all']},
  'table': 'ipeds.grads_ygc'},
 'subs': {}}

In [52]:
# Converting the response to JSON
data = [dict(zip(json["headers"], d)) for d in json["data"]]

In [53]:
x =data[0]

In [54]:
# explore the structure of the returned JSON object
json['headers']

['year', 'geo', 'cip', 'grads_total']

In [55]:
r = requests.get(url)
x = r.json()
df = pd.DataFrame(data)
df.head()

  cip        geo  grads_total  year
0  26  04000US01         1786  2013
1  26  04000US02          138  2013
2  26  04000US04         2316  2013
3  26  04000US05          754  2013
4  26  04000US06        16046  2013

In [57]:
'geo'[-4:]

'geo'

In [10]:
# merge by year and by census #
DataFrame.merge()

NameError: name 'DataFrame' is not defined